:root{
	--css-color:#2071f2;
	--css-light-color:#3091f2;
}
*{
	margin: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Bai Jamjuree', sans-serif;
}

/* header */
.header__container{
	/* background-color: aqua; */
	width: 80%;
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 1em;
}
.header__logo{
	font-size: 10em;
	padding: 8rem 0 0 0;
	color: var(--css-color);
}
.header__title{
	padding-bottom: .5em;
	font-weight: 600;
	font-size: 2em;
}
.header__paragraph{
	color: #333;
	padding-bottom: 1em;
	font-weight: 400;
	font-size: 1em;
}
.buttons{
	/* background-color: brown; */
	width: 50%;
	margin: 0 auto;
	display: flex;
	justify-content: space-evenly;
}
.button{
	background-color: var(--css-color);
	border: unset;
	font-weight: 600;
	padding: 1em 2em;
	border-radius: 50px;
}
.button a{
	color: aliceblue;
	font-size: 1rem;
	text-decoration: none;
	cursor: unset;
}
.button-selected{
	background-color: var(--css-light-color);
}
.button:hover{
	background-color:var(--css-light-color);
}
.button:active{
	background-color: var(--css-color);
}
.button-selected:hover{
	background-color:var(--css-color);
}
.button-selected:active{
	background-color: var(--css-light-color);
}


/* main */
.main__container{
	width: 100%;
}

.main__title{
	width: 50%;
	max-width: 100%;
	margin: 8em auto 2em auto;
	text-align: center;
}
.main__title h2{
	margin-bottom: .3em;
}
.main__title p{
	line-height: 1.4em;
}


.main__content{
	width: 100%;
	max-height: 500px;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
}
.main__section{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-evenly;

	width: 50%;
	padding-left: 3em;

}
.main__article{
	width: 70%;
}
.main__article h3{
	margin-bottom: .3em;
}
.main__article p{
	line-height: 1.5em;
}
.main__img{
	width: 50%;
	max-width: 100%;
	height: 31.3rem;
	max-height: 100%;
	object-fit: scale-down;
}


/* main2 */
.main2__container{
	width: 100%;
	max-height: 100vh;
	text-align: center;
	overflow: hidden;

}

.main2__title{
	width: 70%;
	max-width: 100%;
	margin: 0 auto;
	padding-top: 5em;
}
.main2__title h2{
	margin-bottom: .3em;
}
.main2__title p{
	line-height: 1.6em;
	margin-bottom: 4em;
}

.main2__img{
	max-width: 100%;
	height: 31.3rem;
	max-height: 100%;
	object-fit: scale-down;
}
